= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :home_court
    = f.text_field :home_court
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
