%h1 Listing matches

%table
  %tr
    %th Place
    %th Host
    %th Visitor
    %th Date
    %th
    %th
    %th

  - @matches.each do |match|
    %tr
      %td= match.place
      %td= match.host
      %td= match.visitor
      %td= match.date
      %td= link_to 'Show', match
      %td= link_to 'Edit', edit_match_path(match)
      %td= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Match', new_match_path
